.catalog {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea */
  justify-content: center; /* Centra las tarjetas en el contenedor */
  padding: 20px; /* Espaciado alrededor del contenedor */
}

.product-card {
  background-color: white; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  margin: 20px; /* Espacio entre tarjetas */
  transition: transform 0.2s; 
  width: 250px; /* Ancho fijo para las tarjetas */
}

.product-card:hover {
    transform: scale(1.05); 
}

.product-card img {
    width: 100%; 
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Mantener proporción */
}

.product-card h6, 
.product-card p {
    margin: 8px 0; 
    text-align: center; 
}

.product-card button {
    margin-top: 8px; 
    width: 100%;
}
