.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
  gap: 20px; 
  justify-content: center; 
  padding: 20px;
}


.product-card {
  background-color: white;
  border-radius: 8px; 
  transition: box-shadow 0.3s ease, transform 0.3s ease;  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}


.product-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); 
  transform: translateY(-0.5px); 
}


.product-card img {
  width: 100%;
  height: auto;
  max-height: 180px;
  border-radius: 6px; 
  object-fit: contain;
  margin-bottom: 16px;
}


.product-card h6 {
  margin: 8px 0;
  text-align: center;
  font-size: 1.2rem; 
  font-weight: 600; 
  color: #333; 
}


.product-card p {
  color: #777; 
  font-size: 1rem;
  margin: 8px 0;
  text-align: center;
}

.product-card-content {
  width: auto; /* No ocupar todo el ancho */
  display: flex;
  justify-content: center; /* Centra el botón */
  margin-top: 16px; /* Espaciado entre el contenido de la tarjeta y el botón */
  position: relative;
  z-index: 1;
}

.product-card-content button {
  width: 100%;
  font-size: 1rem;
  padding: 12px;
  border-radius: 6px;
  background-color: #007BFF;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative; 
  z-index: 2; 
}



.product-card button:hover {
  background-color: #0056b3; 
}


.product-card .product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}


.product-card h6,
.product-card p {
  margin: 8px 0;
  font-family: 'Roboto', sans-serif; 
}





