.MuiAppBar-root {
    background-color: rgb(192, 192, 192) !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    
  }
  
  .MuiToolbar-root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    min-height: 64px;
  }
  
  .MuiToolbar-regular {
    display: flex;
    justify-content: space-between;
  }
  
 
  .MuiButton-root {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 16px;
    transition: background-color 0.3s ease;
  
  }

  .MuiButton-root:hover {
      color: navy;
  }


/* Estilo para el fondo del menú del usuario */
.navbar .MuiMenu-paper {
    background-color: rgb(192, 192, 192) ; /* Cambia este color a lo que desees */
    color: white !important; /* Color del texto */
}

/* Estilo para los elementos del menú */
.MuiMenuItem-root {
    padding: 10px 20px; /* Espaciado interno de los elementos del menú */
    /* Opcional: Añade bordes o márgenes si deseas un efecto adicional */
}

/* Efecto hover para los elementos del menú */
.MuiMenuItem-root:hover {
   
}

/* Estilo para el botón del avatar */
.MuiIconButton-root {
    background-color: transparent; 
}

